/* === Reset CSS === */

* {
    margin: 0;
    padding: 0;
}

/* === Fonts === */

@font-face {
    font-family: ApaxBold;
    src: url(../fonts/Apax-Bold.otf);
}

@font-face {
    font-family: ApaxMedium;
    src: url(../fonts/Apax-Medium.otf);
}

@font-face {
    font-family: ApaxRegular;
    src: url(../fonts/Apax-Regular.otf);
}

body {
    background-color: white;
}

/* === Nav === */

nav #link a:first-child {
    font-family: "ApaxRegular";
    opacity: 0.5;
    transition-property: all;
    transition-duration: 0.3s;
}

nav #link a:last-child {
    font-family: "ApaxBold";
    opacity: 1;
}

nav #link a:first-child:hover {
    opacity: 1;
}

/* === Projects Nav === */

#projectNav {
    width: 20%;
    margin-top: 100px;
    margin-left: 70px;
    display: inline-block;
}

#projectNav .itemNav {
    margin-bottom: 40px;
    height: auto;
}

#projectNav .itemNav h1 {
    color: black;
    font-family: "ApaxBold";
    font-size: 1.2em;
    border-bottom: solid 1px black;
    padding-bottom: 20px;
    cursor: pointer;
}

#projectNav ul {
    margin-top: 30px;
    margin-bottom: 30px;
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}

#projectNav .itemNav ul {
    height: 0;
}

#projectNav .itemNav ul.dropDown {
    height: 100%;
}

#projectNav ul li {
    text-decoration: none;
    color: black;
    font-family: "ApaxMedium";
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2em;
    opacity: 0.3;
    transition-property: all;
    transition-duration: 0.2s;
}

#projectNav ul li:hover {
    opacity: 1;
}

#projectNav ul li.projectSelect {
    opacity: 1;
}

@media screen and (max-width: 1440px) {
    #projectNav ul li {
        font-size: 1.2em;
    }
}


/* === Projects Content === */

#projectContent {
    width: 70%;
    height: 90vh;
    margin-left: 2%;
    display: inline-block;
    vertical-align: top;
    position: relative;
    right: 0;
    top: 100px;
}

#projectContent img {
    width: 60%;
    height: 95%;
    object-fit: cover;
    display: inline-block;
}


#projectsTxt {
    width: 35%;
    margin-left: 2%;
    display: inline-block;
    color: black;
    vertical-align: top;
}

#projectsTxt h1 {
    font-family: "ApaxRegular";
    margin-bottom: 20px;
}

#projectsTxt h1 span {
    font-family: "ApaxBold";
}

#projectsTxt p {
    font-family: "ApaxRegular";
    line-height: 1.2em;
    font-size: 1.2em;
    margin-bottom: 30px;
}

.btnSwitch {
    position: relative;
    width: 40px;
    height: 40px;
    display: inline-block;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.2s;
}

.btnSwitch:hover {
    opacity: 0.5;
}

.btnSwitch div {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 50%;
    transform: translateY(-50%);
}

.btnPhone {
    display: none;
}


@media screen and (max-width: 1440px) {
    #projectContent #ImgProjects {
        display: block;
        width: 100%;
        height: 60%;
    }
    
    #projectsTxt {
        display: block;
        width: 80%;
        margin-left: 0;
        margin-top: 25px;
    }
    
    #projectContent {
        width: calc(70% - 50px);
    }
}

@media screen and (max-width: 1100px) {
    

}

@media screen and (max-width: 850px) {
    #projectContent, #projectNav {
        display: block;
        width: calc(100% - 50px);
        margin-left: 25px;
    }
    
    #projectNav ul {
        margin-top: 5px;
        margin-bottom: 5px;
        white-space: normal;
    }
    
    #projectNav ul li {
        display: inline-block;
        margin-right: 20px;
    }
    
    #projectNav .itemNav {
        margin-bottom: 50px;
    }
    
    #projectContent {
        top: 0;
    }
    
    #projectsTxt {
        margin-bottom: 50px;
        margin-top: 25px;
        width: 100%;
        position: relative;
    }
    
    #projectsTxt p {
        font-size: 1em;
        width: 100%;
    }
    
    .btnDesk {
        display: none;
    }
    
    .btnPhone {
        display: inline-block;
        position: absolute;
    }
    
    #projectsTxt div:nth-child(2) {
        right: 0;
        text-align: right;
    }
    
    #projectsTxt div:nth-child(2) div {
        text-align: right;
        right: 0;
    }
    
    #projectsTxt h1 {
        padding-top: 60px;
    }
}









