/* === Reset CSS === */

* {
    margin: 0;
    padding: 0;
}

/* === Fonts === */

@font-face {
    font-family: ApaxBold;
    src: url(../fonts/Apax-Bold.otf);
}

@font-face {
    font-family: ApaxMedium;
    src: url(../fonts/Apax-Medium.otf);
}

@font-face {
    font-family: ApaxRegular;
    src: url(../fonts/Apax-Regular.otf);
}

/* === Animation scroll ===*/

/*
@keyframes fade-in {
    from {
        opacity: 0;
        padding-top: 70px;
    }

    to {
        opacity: 1;
    }
}

.fade-in-element {
    animation: fade-in 1.2s;
}

.hidden {
    opacity: 0;
}
*/

/* === Nav === */

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
    background-color: white;
    z-index: 998;
}

nav #logo {
    font-family: "ApaxBold";
    font-size: 1.2em;
    position: absolute;
    left: 70px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    text-decoration: none;
    color: black;
}

nav #logo img {
    width: 12px;
}

nav #link {
    font-family: "ApaxBold";
    font-size: 1.2em;
    position: absolute;
    right: 70px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

nav #link a {
    cursor: pointer;
    text-decoration: none;
    color: black;
    margin-left: 20px;
}

nav #link a:last-child {
    font-family: "ApaxRegular";
    opacity: 0.5;
    transition-property: all;
    transition-duration: 0.3s;
}

nav #link a:last-child:hover {
    opacity: 1;
}

@media screen and (max-width: 850px) {
    nav #logo {
        left: 25px;
    }

    nav #link {
        right: 25px;
    }
}

/* === Video Fullscreen === */

.videoFS {
    width: 100%;
    height: 96vh;
    margin-bottom: 50px;
    position: relative;
}

.videoFS video {
    width: 100%;
    height: 91vh;
    object-fit: cover;
}

#introVideo {
    margin-top: 55px;
}

#introVideo video {
    height: 91vh;
}

#introVideo video.introVideoAnim {
    height: 91vh;
}

#logoVideo {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.VideoTitle {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3.5em;
    font-family: "ApaxBold";
    color: white;
}

@media screen and (max-width: 850px) {
    #logoVideo img {
        width: 70%;
    }

    .VideoTitle {
        font-size: 2.5em;
    }
}

/* === Introduction === */

#intro {
    width: calc(100% - 140px);
    margin-left: 70px;
    margin-bottom: 350px;
    margin-top: 250px;
}

#intro h2 {
    font-family: "ApaxMedium";
    font-size: 3.5em;
    width: 30%;
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: 4%;
}

#intro p {
    font-family: "ApaxMedium";
    font-size: 2.5em;
    width: 65%;
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.thanksEnd {
    border-top: solid 1px black;
    padding-top: 50px;
}

@media screen and (max-width: 1920px) {
    #intro h2 {
        font-size: 2.5em;
    }

    #intro p {
        font-size: 2em;
    }
}

@media screen and (max-width: 1400px) {
    #intro h2 {
        font-size: 2em;
    }

    #intro p {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 1000px) {
    #intro h2 {
        display: block;
        margin-bottom: 25px;
        width: 100%;
    }

    #intro p {
        display: block;
        width: 100%;
    }
}

@media screen and (max-width: 850px) {
    #intro {
        margin-left: 25px;
        width: calc(100% - 50px);
    }
}


/* === Parties contenus === */

.parts {
    width: calc(100% - 140px);
    margin-left: 70px;
    padding-top: 15px;
    margin-bottom: 200px;
}

.parts div {
    width: calc(50% - 15px);
    display: inline-block;
    vertical-align: top;
    margin-top: 50px;
}

.parts div:nth-child(1) {
    margin-right: 26px;
}

.parts div p {
    width: 100%;
    font-family: "ApaxRegular";
    font-size: 1.5em;
    line-height: 1.2em;
    margin-bottom: 50px;
}

.parts img {
    width: 100%;
    vertical-align: top;
    margin-bottom: 35px;
}

.parts h1 {
    font-family: "ApaxMedium";
    font-size: 3.5em;
    width: 100%;
    vertical-align: top;
    margin-right: 25px;
    margin-bottom: 30px;
}

@media screen and (max-width: 1680px) {
    .parts h1 {
        font-size: 2.5em;
    }

    .parts div p {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 850px) {
    .parts {
        margin-left: 25px;
        width: calc(100% - 50px);
    }
    
    .parts div {
        display: block;
        width: 100%;
        margin-top: 0;
    }
}

/* === Citations === */

.citation {
    margin-bottom: 200px;
    width: 60%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.citation p {
    font-family: "ApaxMedium";
    font-size: 2em;
    line-height: 1.2em;
}

.citation .Name {
    font-size: 1.2em;
    margin-top: 20px;
}

@media screen and (max-width: 1400px) {
    .citation {
        width: 80%;
    }
}

@media screen and (max-width: 1000px) {
    .citation p {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 850px) {
    .citation {
        width: calc(100% - 50px);
    }
}


/* === CHAPT 01 === */

/* === CHAPT 02 === */

#part2 div:nth-child(1) video {
    width: 100%;
    vertical-align: top;
    margin-bottom: 30px;
    height: auto;
    object-fit: cover;
}

/* === CHAPT 03 === */
